:root {
  --clr-black: #000000;
  --clr-primary: #1f1e1e;
  --clr-primary-light: #292727;
  --clr-accent: #61aaba;
  --clr-danger: #bd3200;
  --text-main: #ffffff;
  --text-muted: rgb(149, 149, 149);
  --text-soft: #dfdfdf;
  --border-transparent: rgba(149, 149, 149, 0);
  --border: rgba(149, 149, 149, 1);
  --fz-xs: 0.75rem;
  --fz-sm: 0.9rem;
  --fz-lg: 1.5rem;
  --fz-meta-rank: 2.25rem;
  --fz-meta-title: 2.25rem;
  --fz-meta-artist: 1.25rem;
  --z-meta-header: 1000;
  --z-spinner: 2000;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: min(4.8vw, 140%);
}
@media (min-width: 1200px) {
  html {
    font-size: 120%;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: var(--clr-black);
  margin: 0;
  color: var(--text-main);
  font-family: "Inter", sans-serif;
}

/* Normalize */
h1,
h2,
h3,
p {
  margin: 0;
}

p {
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  font: inherit;
  background: transparent;
  border: none;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--text-muted);
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}
a:hover, a:hover > span > i {
  color: var(--text-main);
}

/* Utility */
.accent {
  color: var(--clr-accent);
  border-color: var(--clr-accent);
}

.btn {
  padding: 0.25em 0.1em;
  border-bottom: 1px solid;
  display: inline-block;
}

.hidden {
  display: none;
}

.danger {
  color: var(--clr-danger);
}

.container {
  padding: 0 1em;
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.py-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.py-5 {
  padding-top: 5em;
  padding-bottom: 5em;
}

.shadow {
  -webkit-box-shadow: 1px 0 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0 6px 0px rgba(0, 0, 0, 0.2);
}

.not-available {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--fz-lg);
  color: var(--text-muted);
}

.musix-match {
  color: var(--text-muted);
  font-size: var(--fz-xs);
}

/*  Components */
.chart-item {
  height: auto;
  position: relative;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--fz-sm);
  border-bottom: 1px solid;
  border-color: var(--border);
}
.chart-item.slide {
  -webkit-animation: slide 500ms forwards;
          animation: slide 500ms forwards;
}
.chart-item:nth-child(1) {
  -webkit-animation-delay: calc(75ms + 80 * 1ms);
          animation-delay: calc(75ms + 80 * 1ms);
}
.chart-item:nth-child(2) {
  -webkit-animation-delay: calc(75ms + 80 * 2ms);
          animation-delay: calc(75ms + 80 * 2ms);
}
.chart-item:nth-child(3) {
  -webkit-animation-delay: calc(75ms + 80 * 3ms);
          animation-delay: calc(75ms + 80 * 3ms);
}
.chart-item:nth-child(4) {
  -webkit-animation-delay: calc(75ms + 80 * 4ms);
          animation-delay: calc(75ms + 80 * 4ms);
}
.chart-item:nth-child(5) {
  -webkit-animation-delay: calc(75ms + 80 * 5ms);
          animation-delay: calc(75ms + 80 * 5ms);
}
.chart-item:nth-child(6) {
  -webkit-animation-delay: calc(75ms + 80 * 6ms);
          animation-delay: calc(75ms + 80 * 6ms);
}
.chart-item:nth-child(7) {
  -webkit-animation-delay: calc(75ms + 80 * 7ms);
          animation-delay: calc(75ms + 80 * 7ms);
}
.chart-item:nth-child(8) {
  -webkit-animation-delay: calc(75ms + 80 * 8ms);
          animation-delay: calc(75ms + 80 * 8ms);
}
.chart-item:nth-child(9) {
  -webkit-animation-delay: calc(75ms + 80 * 9ms);
          animation-delay: calc(75ms + 80 * 9ms);
}
.chart-item:nth-child(10) {
  -webkit-animation-delay: calc(75ms + 80 * 10ms);
          animation-delay: calc(75ms + 80 * 10ms);
}
.chart-item:nth-child(11) {
  -webkit-animation-delay: calc(75ms + 80 * 11ms);
          animation-delay: calc(75ms + 80 * 11ms);
}
.chart-item:nth-child(12) {
  -webkit-animation-delay: calc(75ms + 80 * 12ms);
          animation-delay: calc(75ms + 80 * 12ms);
}
.chart-item:nth-child(13) {
  -webkit-animation-delay: calc(75ms + 80 * 13ms);
          animation-delay: calc(75ms + 80 * 13ms);
}
.chart-item:nth-child(14) {
  -webkit-animation-delay: calc(75ms + 80 * 14ms);
          animation-delay: calc(75ms + 80 * 14ms);
}
.chart-item:nth-child(15) {
  -webkit-animation-delay: calc(75ms + 80 * 15ms);
          animation-delay: calc(75ms + 80 * 15ms);
}
.chart-item:nth-child(16) {
  -webkit-animation-delay: calc(75ms + 80 * 16ms);
          animation-delay: calc(75ms + 80 * 16ms);
}
.chart-item:nth-child(17) {
  -webkit-animation-delay: calc(75ms + 80 * 17ms);
          animation-delay: calc(75ms + 80 * 17ms);
}
.chart-item:nth-child(18) {
  -webkit-animation-delay: calc(75ms + 80 * 18ms);
          animation-delay: calc(75ms + 80 * 18ms);
}
.chart-item:nth-child(19) {
  -webkit-animation-delay: calc(75ms + 80 * 19ms);
          animation-delay: calc(75ms + 80 * 19ms);
}
.chart-item:nth-child(20) {
  -webkit-animation-delay: calc(75ms + 80 * 20ms);
          animation-delay: calc(75ms + 80 * 20ms);
}
.chart-item:nth-child(21) {
  opacity: 1;
}
.chart-item:nth-child(22) {
  opacity: 1;
}
.chart-item:nth-child(23) {
  opacity: 1;
}
.chart-item:nth-child(24) {
  opacity: 1;
}
.chart-item:nth-child(25) {
  opacity: 1;
}
.chart-item:nth-child(26) {
  opacity: 1;
}
.chart-item:nth-child(27) {
  opacity: 1;
}
.chart-item:nth-child(28) {
  opacity: 1;
}
.chart-item:nth-child(29) {
  opacity: 1;
}
.chart-item:nth-child(30) {
  opacity: 1;
}
.chart-item:nth-child(31) {
  opacity: 1;
}
.chart-item:nth-child(32) {
  opacity: 1;
}
.chart-item:nth-child(33) {
  opacity: 1;
}
.chart-item:nth-child(34) {
  opacity: 1;
}
.chart-item:nth-child(35) {
  opacity: 1;
}
.chart-item:nth-child(36) {
  opacity: 1;
}
.chart-item:nth-child(37) {
  opacity: 1;
}
.chart-item:nth-child(38) {
  opacity: 1;
}
.chart-item:nth-child(39) {
  opacity: 1;
}
.chart-item:nth-child(40) {
  opacity: 1;
}
.chart-item:nth-child(41) {
  opacity: 1;
}
.chart-item:nth-child(42) {
  opacity: 1;
}
.chart-item:nth-child(43) {
  opacity: 1;
}
.chart-item:nth-child(44) {
  opacity: 1;
}
.chart-item:nth-child(45) {
  opacity: 1;
}
.chart-item:nth-child(46) {
  opacity: 1;
}
.chart-item:nth-child(47) {
  opacity: 1;
}
.chart-item:nth-child(48) {
  opacity: 1;
}
.chart-item:nth-child(49) {
  opacity: 1;
}
.chart-item:nth-child(50) {
  opacity: 1;
}
.chart-item:nth-child(51) {
  opacity: 1;
}
.chart-item:nth-child(52) {
  opacity: 1;
}
.chart-item:nth-child(53) {
  opacity: 1;
}
.chart-item:nth-child(54) {
  opacity: 1;
}
.chart-item:nth-child(55) {
  opacity: 1;
}
.chart-item:nth-child(56) {
  opacity: 1;
}
.chart-item:nth-child(57) {
  opacity: 1;
}
.chart-item:nth-child(58) {
  opacity: 1;
}
.chart-item:nth-child(59) {
  opacity: 1;
}
.chart-item:nth-child(60) {
  opacity: 1;
}
.chart-item:nth-child(61) {
  opacity: 1;
}
.chart-item:nth-child(62) {
  opacity: 1;
}
.chart-item:nth-child(63) {
  opacity: 1;
}
.chart-item:nth-child(64) {
  opacity: 1;
}
.chart-item:nth-child(65) {
  opacity: 1;
}
.chart-item:nth-child(66) {
  opacity: 1;
}
.chart-item:nth-child(67) {
  opacity: 1;
}
.chart-item:nth-child(68) {
  opacity: 1;
}
.chart-item:nth-child(69) {
  opacity: 1;
}
.chart-item:nth-child(70) {
  opacity: 1;
}
.chart-item:nth-child(71) {
  opacity: 1;
}
.chart-item:nth-child(72) {
  opacity: 1;
}
.chart-item:nth-child(73) {
  opacity: 1;
}
.chart-item:nth-child(74) {
  opacity: 1;
}
.chart-item:nth-child(75) {
  opacity: 1;
}
.chart-item:nth-child(76) {
  opacity: 1;
}
.chart-item:nth-child(77) {
  opacity: 1;
}
.chart-item:nth-child(78) {
  opacity: 1;
}
.chart-item:nth-child(79) {
  opacity: 1;
}
.chart-item:nth-child(80) {
  opacity: 1;
}
.chart-item:nth-child(81) {
  opacity: 1;
}
.chart-item:nth-child(82) {
  opacity: 1;
}
.chart-item:nth-child(83) {
  opacity: 1;
}
.chart-item:nth-child(84) {
  opacity: 1;
}
.chart-item:nth-child(85) {
  opacity: 1;
}
.chart-item:nth-child(86) {
  opacity: 1;
}
.chart-item:nth-child(87) {
  opacity: 1;
}
.chart-item:nth-child(88) {
  opacity: 1;
}
.chart-item:nth-child(89) {
  opacity: 1;
}
.chart-item:nth-child(90) {
  opacity: 1;
}
.chart-item:nth-child(91) {
  opacity: 1;
}
.chart-item:nth-child(92) {
  opacity: 1;
}
.chart-item:nth-child(93) {
  opacity: 1;
}
.chart-item:nth-child(94) {
  opacity: 1;
}
.chart-item:nth-child(95) {
  opacity: 1;
}
.chart-item:nth-child(96) {
  opacity: 1;
}
.chart-item:nth-child(97) {
  opacity: 1;
}
.chart-item:nth-child(98) {
  opacity: 1;
}
.chart-item:nth-child(99) {
  opacity: 1;
}
.chart-item:nth-child(100) {
  opacity: 1;
}
.chart-item:nth-child(101) {
  opacity: 1;
}
.chart-item:nth-child(102) {
  opacity: 1;
}
.chart-item:nth-child(103) {
  opacity: 1;
}
.chart-item:nth-child(104) {
  opacity: 1;
}
.chart-item:nth-child(105) {
  opacity: 1;
}
.chart-item:nth-child(106) {
  opacity: 1;
}
.chart-item:nth-child(107) {
  opacity: 1;
}
.chart-item:nth-child(108) {
  opacity: 1;
}
.chart-item:nth-child(109) {
  opacity: 1;
}
.chart-item:nth-child(110) {
  opacity: 1;
}
.chart-item:nth-child(111) {
  opacity: 1;
}
.chart-item:nth-child(112) {
  opacity: 1;
}
.chart-item:nth-child(113) {
  opacity: 1;
}
.chart-item:nth-child(114) {
  opacity: 1;
}
.chart-item:nth-child(115) {
  opacity: 1;
}
.chart-item:nth-child(116) {
  opacity: 1;
}
.chart-item:nth-child(117) {
  opacity: 1;
}
.chart-item:nth-child(118) {
  opacity: 1;
}
.chart-item:nth-child(119) {
  opacity: 1;
}
.chart-item:nth-child(120) {
  opacity: 1;
}
.chart-item:nth-child(121) {
  opacity: 1;
}
.chart-item:nth-child(122) {
  opacity: 1;
}
.chart-item:nth-child(123) {
  opacity: 1;
}
.chart-item:nth-child(124) {
  opacity: 1;
}
.chart-item:nth-child(125) {
  opacity: 1;
}
.chart-item:nth-child(126) {
  opacity: 1;
}
.chart-item:nth-child(127) {
  opacity: 1;
}
.chart-item:nth-child(128) {
  opacity: 1;
}
.chart-item:nth-child(129) {
  opacity: 1;
}
.chart-item:nth-child(130) {
  opacity: 1;
}
.chart-item:nth-child(131) {
  opacity: 1;
}
.chart-item:nth-child(132) {
  opacity: 1;
}
.chart-item:nth-child(133) {
  opacity: 1;
}
.chart-item:nth-child(134) {
  opacity: 1;
}
.chart-item:nth-child(135) {
  opacity: 1;
}
.chart-item:nth-child(136) {
  opacity: 1;
}
.chart-item:nth-child(137) {
  opacity: 1;
}
.chart-item:nth-child(138) {
  opacity: 1;
}
.chart-item:nth-child(139) {
  opacity: 1;
}
.chart-item:nth-child(140) {
  opacity: 1;
}
.chart-item:nth-child(141) {
  opacity: 1;
}
.chart-item:nth-child(142) {
  opacity: 1;
}
.chart-item:nth-child(143) {
  opacity: 1;
}
.chart-item:nth-child(144) {
  opacity: 1;
}
.chart-item:nth-child(145) {
  opacity: 1;
}
.chart-item:nth-child(146) {
  opacity: 1;
}
.chart-item:nth-child(147) {
  opacity: 1;
}
.chart-item:nth-child(148) {
  opacity: 1;
}
.chart-item:nth-child(149) {
  opacity: 1;
}
.chart-item:nth-child(150) {
  opacity: 1;
}
.chart-item:nth-child(151) {
  opacity: 1;
}
.chart-item:nth-child(152) {
  opacity: 1;
}
.chart-item:nth-child(153) {
  opacity: 1;
}
.chart-item:nth-child(154) {
  opacity: 1;
}
.chart-item:nth-child(155) {
  opacity: 1;
}
.chart-item:nth-child(156) {
  opacity: 1;
}
.chart-item:nth-child(157) {
  opacity: 1;
}
.chart-item:nth-child(158) {
  opacity: 1;
}
.chart-item:nth-child(159) {
  opacity: 1;
}
.chart-item:nth-child(160) {
  opacity: 1;
}
.chart-item:nth-child(161) {
  opacity: 1;
}
.chart-item:nth-child(162) {
  opacity: 1;
}
.chart-item:nth-child(163) {
  opacity: 1;
}
.chart-item:nth-child(164) {
  opacity: 1;
}
.chart-item:nth-child(165) {
  opacity: 1;
}
.chart-item:nth-child(166) {
  opacity: 1;
}
.chart-item:nth-child(167) {
  opacity: 1;
}
.chart-item:nth-child(168) {
  opacity: 1;
}
.chart-item:nth-child(169) {
  opacity: 1;
}
.chart-item:nth-child(170) {
  opacity: 1;
}
.chart-item:nth-child(171) {
  opacity: 1;
}
.chart-item:nth-child(172) {
  opacity: 1;
}
.chart-item:nth-child(173) {
  opacity: 1;
}
.chart-item:nth-child(174) {
  opacity: 1;
}
.chart-item:nth-child(175) {
  opacity: 1;
}
.chart-item:nth-child(176) {
  opacity: 1;
}
.chart-item:nth-child(177) {
  opacity: 1;
}
.chart-item:nth-child(178) {
  opacity: 1;
}
.chart-item:nth-child(179) {
  opacity: 1;
}
.chart-item:nth-child(180) {
  opacity: 1;
}
.chart-item:nth-child(181) {
  opacity: 1;
}
.chart-item:nth-child(182) {
  opacity: 1;
}
.chart-item:nth-child(183) {
  opacity: 1;
}
.chart-item:nth-child(184) {
  opacity: 1;
}
.chart-item:nth-child(185) {
  opacity: 1;
}
.chart-item:nth-child(186) {
  opacity: 1;
}
.chart-item:nth-child(187) {
  opacity: 1;
}
.chart-item:nth-child(188) {
  opacity: 1;
}
.chart-item:nth-child(189) {
  opacity: 1;
}
.chart-item:nth-child(190) {
  opacity: 1;
}
.chart-item:nth-child(191) {
  opacity: 1;
}
.chart-item:nth-child(192) {
  opacity: 1;
}
.chart-item:nth-child(193) {
  opacity: 1;
}
.chart-item:nth-child(194) {
  opacity: 1;
}
.chart-item:nth-child(195) {
  opacity: 1;
}
.chart-item:nth-child(196) {
  opacity: 1;
}
.chart-item:nth-child(197) {
  opacity: 1;
}
.chart-item:nth-child(198) {
  opacity: 1;
}
.chart-item:nth-child(199) {
  opacity: 1;
}
.chart-item:nth-child(200) {
  opacity: 1;
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translate3d(-5em, 0, 0);
            transform: translate3d(-5em, 0, 0);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translate3d(-5em, 0, 0);
            transform: translate3d(-5em, 0, 0);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.chart-item .chart-item__cover {
  height: 100%;
}
.chart-item .chart-item__cover img {
  width: auto;
  height: 100%;
}
.chart-item .chart-item__text {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0;
}
.chart-item .chart-item__text--rank {
  margin: 0 1em;
  color: vaR(--text-muted);
}
.chart-item .chart-item__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 1em;
}
.chart-item .chart-item__text--title {
  text-align: left;
  font-weight: bold;
  margin-right: 1em;
  margin-bottom: 0.25em;
}
.chart-item .chart-item__text--artist {
  text-align: right;
  margin-left: auto;
  color: var(--text-muted);
}
.chart-item:hover {
  background-color: var(--clr-primary);
  cursor: pointer;
}

.pill {
  border: 1px solid;
  border-color: currentColor;
  padding: 0.2em 0.3em;
  border-radius: 0.25rem;
}

.spinner {
  position: absolute;
  z-index: var(--z-spinner);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--clr-primary);
}
.spinner .logo {
  width: 10rem;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #61aaba;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #61aaba), color-stop(42%, var(--clr-primary)));
  background: linear-gradient(to right, #61aaba 10%, var(--clr-primary) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #61aaba;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.loader:after {
  background: var(--clr-primary);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* Layout */
.app {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
}
@media (min-width: 1200px) {
  .app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: hidden;
  }
}

/* ======================================
 * CHART    
 * ======================================*/
.chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-primary-light);
  min-height: 100%;
  z-index: 200;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}
.chart .logo {
  max-width: 10rem;
}
.chart .chart-list {
  padding: 1em;
}
.chart.show {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}
@media (min-width: 1200px) {
  .chart {
    position: relative;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    overflow-y: scroll;
    opacity: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 350px;
            flex: 1 1 350px;
  }
  .chart .chart-item {
    font-size: 80%;
  }
}
.chart-header {
  background: var(--clr-black);
  padding: 1em;
}
.chart-header .chart-name {
  text-align: right;
}

/* ======================================
 * META
 * ======================================*/
.meta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-primary);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}
.meta.show {
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}
.meta h2 {
  font-weight: 200;
  color: var(--text-muted);
  margin-bottom: 1em;
  font-size: 2em;
}
@media (min-width: 1200px) {
  .meta {
    position: relative;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    overflow-y: scroll;
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5 2.5 700px;
            flex: 2.5 2.5 700px;
    max-width: 1200px;
  }
}

.meta__hero {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: -10;
  /* Meta hero section media queries */
}
.meta__hero::after {
  content: "";
  position: absolute;
  z-index: -5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--clr-primary);
  background-image: none;
}
.meta__hero .back-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  top: 1em;
  right: 1em;
  z-index: 1000;
}
.meta__hero .track-info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  z-index: 200;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.meta__hero .track-info__text .rank-and-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10vw;
}
.meta__hero .track-info__text .rank-and-title .track-rank {
  margin-right: auto;
  font-size: var(--fz-meta-rank);
  font-style: italic;
  font-weight: 200;
  line-height: 1;
}
.meta__hero .track-info__text .rank-and-title .track-title {
  font-size: calc(var(--fz-meta-title) * 0.8);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.meta__hero .track-info__text .track-artist {
  font-size: var(--fz-meta-artist);
  font-weight: 200;
  text-align: center;
}
.meta__hero .track-info__text .track-categories {
  font-size: var(--fz-xs);
  color: var(--text-muted);
  margin: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.meta__hero .track-info__text .track-categories .category {
  margin: 0.25em;
  text-transform: capitalize;
  display: inline-block;
  /* capitalize doesn't work properly with inline elements because last character is concatenated with first character*/
}
.meta__hero .track-info__text .track-stats {
  font-size: var(--fz-sm);
  color: var(--text-muted);
  text-transform: capitalize;
}
.meta__hero .track-info__text .track-stats li:not(:last-of-type) {
  margin-bottom: 0.5em;
}
.meta__hero .track-info__cover {
  position: relative;
  justify-self: flex-end;
  z-index: 100;
}
.meta__hero .track-info__cover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--clr-primary)), to(rgba(31, 30, 30, 0)));
  background: linear-gradient(180deg, var(--clr-primary) 0%, rgba(31, 30, 30, 0) 100%);
  -webkit-box-shadow: 0px 4px 23px -3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 23px -3px rgba(0, 0, 0, 0.25);
}
@media (min-width: 700px) {
  .meta__hero {
    min-width: 20%;
    width: auto;
    height: auto;
  }
  .meta__hero .track-info__cover {
    margin-top: 50vh;
  }
}
@media (min-width: 1200px) {
  .meta__hero {
    padding: 1.5em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .meta__hero::after {
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.82)), to(#1f1e1e));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.82) 0%, #1f1e1e 100%);
  }
  .meta__hero .back-btn {
    display: none;
  }
  .meta__hero .track-info__text {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 2em;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 60%;
    position: relative;
    text-align: right;
  }
  .meta__hero .track-info__text .rank-and-title {
    margin-top: 0;
  }
  .meta__hero .track-info__text .rank-and-title .track-title {
    font-size: 3.2rem;
    text-align: right;
  }
  .meta__hero .track-info__text .track-artist {
    font-size: calc(var(--fz-meta-artist) * 1.8);
    text-align: right;
  }
  .meta__hero .track-info__text .track-rank {
    font-size: 3rem !important;
  }
  .meta__hero .track-info__text .track-categories {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .meta__hero .track-info__text .track-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: var(--fz-sm);
  }
  .meta__hero .track-info__text .track-stats li + li {
    margin-left: 2em;
  }
  .meta__hero .track-info__cover {
    max-width: 40%;
    -webkit-box-shadow: 0px 0px 37px 12px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 37px 12px rgba(0, 0, 0, 0.5);
  }
  .meta__hero .track-info__cover::after {
    display: none;
  }
}

.meta__lyrics {
  position: relative;
  background-position: center top;
  background-size: cover;
  background-repeat: repeat;
  background-color: var(--clr-primary);
  z-index: -20;
  text-align: center;
}
.meta__lyrics::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#1f1e1e), color-stop(29.69%, rgba(31, 30, 30, 0.92)), color-stop(98.19%, #1f1e1e));
  background: linear-gradient(180deg, #1f1e1e 0%, rgba(31, 30, 30, 0.92) 29.69%, #1f1e1e 98.19%);
}
.meta__lyrics .lyrics-text {
  color: var(--text-soft);
  position: relative;
  z-index: 50;
  white-space: pre-line;
  line-height: 2;
}

.meta__artist {
  background: var(--clr-primary);
}
.meta__artist .artist-image {
  width: 100%;
  position: relative;
}
.meta__artist .artist-image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 23, 23, 0.38)), color-stop(34.38%, rgba(171, 171, 171, 0)), color-stop(67.19%, rgba(56, 56, 56, 0)), to(#1f1e1e));
  background: linear-gradient(180deg, rgba(24, 23, 23, 0.38) 0%, rgba(171, 171, 171, 0) 34.38%, rgba(56, 56, 56, 0) 67.19%, #1f1e1e 100%);
}
.meta__artist .bio-text {
  white-space: pre-line;
  color: var(--text-soft);
  font-size: var(--fz-sm);
}
.meta__artist .legal {
  display: block;
  margin: 1em;
  color: var(--text-muted);
  font-size: var(--fz-xs);
}
.meta__artist .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--clr-accent);
}
.meta__artist .tags .tag {
  margin: 0.25em;
}

.meta__lyrics h2,
.meta__artist h2 {
  text-align: center;
  margin: 1em auto 2em;
}

.footer {
  height: 120vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.87)), to(#232222)), url("./assets/images/footer-bg.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.87) 0%, #232222 100%), url("./assets/images/footer-bg.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 200;
  color: var(--text-muted);
}
.footer .footer-container {
  width: 62%;
}
.footer .footer-container p {
  font-size: 4.2vw;
}
.footer .footer-container .credit {
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-container .credit p {
  margin: 6vw auto;
}
.footer .footer-container .credit .logo__juno > a img {
  -webkit-transition: -webkit-filter 300ms ease;
  transition: -webkit-filter 300ms ease;
  transition: filter 300ms ease;
  transition: filter 300ms ease, -webkit-filter 300ms ease;
}
.footer .footer-container .credit .logo__juno > a:hover > img {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}
.footer .footer-container .social {
  margin-top: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.footer .footer-container .social .link-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer-container .social .link-icons span {
  font-size: 8vw;
}
.footer .footer-container .social .link-icons span i {
  color: var(--text-muted);
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}
.footer .footer-container .social .link-icons span i:hover {
  color: var(--text-main);
}
.footer .footer-container .social p {
  margin-top: 1em;
}
@media (min-width: 1200px) {
  .footer {
    height: 19rem;
  }
  .footer .footer-container {
    position: relative;
    width: 90%;
    max-width: 900px;
    height: 80%;
  }
  .footer .footer-container p {
    font-size: 1rem;
  }
  .footer .footer-container .credit {
    width: 100%;
    max-width: 40rem;
    margin: auto;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .footer-container .credit .logo {
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
  }
  .footer .footer-container .credit p {
    text-align: center;
  }
  .footer .footer-container .social {
    position: absolute;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    right: 0;
    bottom: 0;
    width: auto;
  }
  .footer .footer-container .social .link-icons {
    width: 10rem;
  }
  .footer .footer-container .social .link-icons span {
    font-size: 2rem;
  }
  .footer .footer-container .social p {
    margin-top: 0.5em;
    font-size: 0.75rem;
  }
}
/*# sourceMappingURL=style.css.map */