$tablet: 700px;
$desktop: 1200px;
$wide: 1600px;

:root {
  --clr-black: #000000;
  --clr-primary: #1f1e1e;
  --clr-primary-light: #292727;
  --clr-accent: #61aaba;
  --clr-danger: #bd3200;
  --text-main: #ffffff;
  --text-muted: #959595;

  --fz-xs: 0.75rem;
  --fz-sm: 0.9rem;
  --fz-meta-rank: 1.75rem;
  --fz-meta-title: 2.25rem;
  --fz-meta-artist: 1.25rem;
  --z-meta-header: 1000;
}

html {
  box-sizing: border-box;
  font-size: min(4.8vw, 140%);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--clr-black);
  margin: 0;
  color: var(--text-main);
  font-family: 'Inter', sans-serif;
}

/* Normalize */
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  font: inherit;
  background: transparent;
  border: none;
}

a {
  color: var(--clr-accent);
}

img {
  width: 100%;
  display: block;
}

/* Utility */
.accent {
  color: var(--clr-accent);
  border-color: var(--clr-accent);
}

.btn {
  padding: 0.25em 0.1em;
  border-bottom: 1px solid;
  display: inline-block;
}

.hidden {
  display: none;
}

.danger {
  color: var(--clr-danger);
}

.container {
  padding: 0 1em;
  width: 100%;
  max-width: $tablet;
  margin: auto;
}

.py-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}

/*  Components */
.chart-item {
  height: 20vw;
  max-height: 4rem;
  display: flex;
  align-items: center;
  font-size: var(--fz-sm);
  border-bottom: 1px solid var(--text-muted);
  .chart-item__cover {
    height: 100%;
    img {
      width: auto;
      height: 100%;
    }
  }

  .chart-item__text {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    padding: 0.5em 0;
    &--rank {
      margin: 0 1em;
      color: vaR(--text-muted);
    }
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    &--title {
      text-align: left;
      font-weight: bold;
      margin-right: 1em;
      margin-bottom: 0.25em;
    }
    &--artist {
      text-align: right;
      margin-left: auto;
      color: var(--text-muted);
    }
  }

  transition: background-color 200ms ease;
  &:hover {
    background-color: var(--clr-primary);
    cursor: pointer;
  }
}

.pill {
  border: 1px solid;
  border-color: currentColor;
  padding: 0.2em 0.3em;
  border-radius: 0.25rem;
}

/* Layout */
.app {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
}

.chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-primary-light);
  min-height: 100%;
  .chart-list {
    padding: 1em;
  }

  transition: all 250ms ease;
  transform: translateX(-100%);
  opacity: 0;
  &.show {
    transform: translateX(0%);
    opacity: 1;
  }
}

.chart-header {
  background: var(--clr-black);
  padding: 1em;
  .chart-name {
    text-align: right;
  }
}

/* TODO: remove horizontal scroll */
.meta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-primary);

  transition: all 250ms ease;
  transform: translateX(100%);
  opacity: 0;

  &.show {
    transform: translateX(0%);
    opacity: 1;
  }

  h2 {
    font-weight: 200;
    color: var(--text-muted);
    margin-bottom: 1em;
  }
}

.meta__hero {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  @media (min-width: $tablet) {
    min-width: 20%;
    width: auto;
    height: auto;
  }
  .back-btn {
    align-self: flex-end;
    position: relative;
    top: 1em;
    right: 1em;
  }

  .track-info__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    .track-rank {
      margin-right: auto;
      font-size: var(--fz-meta-rank);
      font-style: italic;
      line-height: 1;
    }
    .track-title {
      font-size: var(--fz-meta-title);
    }
    .track-artist {
      font-size: var(--fz-meta-artist);
      font-weight: 200;
    }
    .track-categories {
      font-size: var(--fz-xs);
      color: var(--text-muted);
      margin: 0.5em;
      .category {
        margin: 0.25em;
        text-transform: capitalize;
        display: inline-block; /* capitalize doesn't work properly with inline elements because last character is concatenated with first character*/
      }
    }
    .track-stats {
      font-size: var(--fz-sm);
      color: var(--text-muted);
      text-transform: capitalize;
      li:not(:last-of-type) {
        margin-bottom: 0.25em;
      }
    }
  }

  .track-info__cover {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: linear-gradient(
        180deg,
        var(--clr-primary) 0%,
        rgba(31, 30, 30, 0) 29.86%
      );
      box-shadow: 0px 4px 23px -3px rgba(0, 0, 0, 0.25);
    }
  }
}

.meta__lyrics {
  position: relative;
  background-position: top center;
  background-size: 100% auto;
  background-repeat: repeat-y;
  z-index: -20;
  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      #1f1e1e 0%,
      rgba(31, 30, 30, 0.87) 29.69%,
      #1f1e1e 98.19%
    );
  }

  .lyrics-text {
    position: relative;
    z-index: 50;
    white-space: pre-line; // preserve breaks in original text (eg. \n\r)
  }
}

.meta__artist {
  background: var(--clr-primary);
  .artist-image {
    width: 100%;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba(24, 23, 23, 0.38) 0%,
        rgba(171, 171, 171, 0) 34.38%,
        rgba(56, 56, 56, 0) 67.19%,
        #1f1e1e 100%
      );
    }
  }

  .bio-text {
    white-space: pre-line;
  }
  .legal {
    display: block;
    margin: 1em;
    color: var(--text-muted);
    font-size: var(--fz-sm);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--clr-accent);
    .tag {
      margin: 0.25em;
    }
  }
}

// * {
//   border: 1px solid #f00 !important;
// }
