$tablet: 700px;
$desktop: 1200px;
$wide: 1600px;

:root {
  --clr-black: #000000;
  --clr-primary: #1f1e1e;
  --clr-primary-light: #232222;
  --clr-accent: #61aaba;
  --clr-danger: #bd3200;
  --text-main: #ffffff;
  --text-muted: #959595;

  --fz-sm: 0.75rem;

  --z-meta-header: 1000;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--clr-black);
  margin: 0;
  color: var(--text-main);
  font-family: 'Inter', sans-serif;
}

/* Normalize */
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  font: inherit;
  background: transparent;
  border: none;
}

/* Utility */
.accent {
  color: var(--clr-accent);
  border-color: var(--clr-accent);
}

.btn {
  padding: 0.25em 0.1em;
  border-bottom: 1px solid;
  display: inline-block;
}

.hidden {
  display: none;
}

/*  Components */
.chart-item {
  display: flex;
  align-items: center;
  font-size: var(--fz-sm);
  border-bottom: 1px solid var(--text-muted);
  .chart-item__text {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    padding: 0.5em 0;
    &--rank {
      margin: 1em;
      color: vaR(--text-muted);
    }
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    &--title {
      text-align: left;
      font-weight: bold;
      margin-right: 1em;
      margin-bottom: 0.25em;
    }
    &--artist {
      text-align: right;
      margin-left: auto;
      color: var(--text-muted);
    }
  }
}

/* Layout */
.app {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
}

.chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-primary-light);
  min-height: 100%;
  .chart-list {
    padding: 1em;
  }

  transition: all 250ms ease;
  transform: translateX(-100%);
  opacity: 0;
  &.show {
    transform: translateX(0%);
    opacity: 1;
  }
}

.chart-header {
  background: var(--clr-black);
  padding: 1em;
  .chart-name {
    text-align: right;
  }
}

/* TODO: remove horizontal scroll */
.meta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: var(--clr-primary);

  transition: all 250ms ease;
  transform: translateX(100%);
  opacity: 0;

  &.show {
    transform: translateX(0%);
    opacity: 1;
  }
}

.meta__hero {
  min-width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    min-width: 20%;
  }

  .track-info__text {
  }

  .track-info__cover {
    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

// * {
//   border: 1px solid #f00 !important;
// }
